body {
  background: #000 url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100%;
}
.ui-page {
  background: transparent url('../img/shadow-px.png') repeat;
}
.ui-content {
  background: transparent;
  padding: 15px 0;
  
}
.ui-header .ui-title {
  margin: 0.6em 0 0.8em 28%;
}
.ui-btn-text {
  color: #fff;
}

.clear {
  clear: both;
}
.strong {
  font-weight: bold;
}


ul.buttons {
  list-style-type: none;
  padding: 0;
}

ul.buttons li {
  float: left;
  width: 120px;
  text-align: center;
  padding: 16px 19px;
}

ul.buttons img {
  width: 100%;
}

#main .ui-header .ui-title {
  margin: 0.6em 0 0.8em 0;
}
.ui-page#splash {
  background-image: none;
}
#splash .ui-content {
  text-align: center;
}
.logo {
  padding: 0 32px;
}
.logo img {
  width: 100%;
}

#artists .ui-content ul {
  list-style-type: none;
  padding: 0;
}
#artists .ui-content ul li {
  float: left;
  width: 280px;
  text-align: center;
  padding: 0 4px;
}
#artists .ui-content ul p {
  text-align: center;
  margin: 4px 0;
}


.artist .ui-content {
  padding: 16px;
  text-align: center;
}
.artist .ui-content img {
  width: 100%;
}
.artist .ui-content p {
  text-align: left;
}
.band img, .news-prev img {
  border: 2px solid #FF6000;
}
.band .ui-content p {
  text-align: justify;
}

#schedule .ui-content ul {
  padding: 0 14px;
}
#schedule .ui-li-has-thumb {
  padding: 1px 0;
}
#schedule .ui-content li a {
  padding: 0 30px 0 100px;
}



#schedule .ui-li-thumb, 
#schedule .ui-listview .ui-li-icon {
  max-height: 124px;
  max-width: 59px;
}
#schedule .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, 
#schedule .ui-li-static.ui-li-has-thumb {
  padding-left: 80px;
}

#news .ui-li .ui-btn-text a.ui-link-inherit, 
#news .ui-li-desc, 
#news .ui-btn-inner
{
  white-space: normal;
}
#news ul {
  padding: 0 14px;
}

.news-prev .ui-content {
  padding: 16px;
  text-align: center;
}
.news-prev .ui-content img {
  width: 100%;
}
.news-prev .ui-content p {
  text-align: left;
}

#info .ui-header .ui-title {
  margin: 0.6em 30% 0.8em 30%;
}

#map .ui-body-a, .ui-overlay-a {
  color: #000;
}
